@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url(bootstrap.min.css);

label , input {
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
}


h1 {
    text-align: center;
}

i {
    padding-right: 3px;
}

body {
    font-weight: bold;
    background-color: antiquewhite;
}

hr {
    border-style: dashed;
    margin-top: 20px;
}
